/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */

/* class utility */
.bg_blue {
background-color: #0C325A;
}
.bg_green {
background-color: #7CBB02;
}
.bg_grey {
background-color: #D3D3D3;
}
.container {
  width: 80%;
  margin: auto;
}
.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.white_link a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  padding: 10px 20px!important;
  border-radius: 5px;
}
.white_link a:hover {
  color: orange;
}
.white_text {
  color: white;
}
.gray_text {
  color: grey;
}
.btn_white {
  border: 1px solid white;
}
.big_btn {
  color: white;
  text-decoration: none;
  font-size: 16px!important;
  padding: 20px 20px;
  border-radius: 5px;
}

/* class utility */

/* header section */

/* nav section */
#nav_container {
  height: 200px;
  height: 80px;
  position: relative;
}
#header_logo {
  width: 15%;
  left: 0;
}
#header_nav {
  width: 85%;
  right: 0;

}
#left_nav{
  width: 50%;
  left: 0;
}
#right_nav{
  width: 50%;
  right: 0;
  text-align: right;
}
/* /nav section */

/* hero section */
#hero_container {
  position: relative;
  height: 480px;
  background-image: url('../img/banner_header.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}
#hero_text {
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}
#hero_text h1 {
  margin-bottom: 40px;
}
#motto_container {
  text-align: center;
  padding: 50px 0;
}
#motto_container h2 {
  margin-bottom: 15px;
}
/* /header section */
